*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #00bfa5 0%,
        #00bfa5 15%,
        #d4dbd9 15%,
        #d4dbd9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 95%;
    min-width: 900px;
    background: white;
    position: relative;
}

.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

/* sidebar left */
.side-left{
    float: left;
    width: 35%;
    height: 100%;
    background: rgb(247, 246, 246);
}

/* header left */
.left{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 5px;
    background: lightgrey;
}

.left img{
    width: 40px;
    border-radius: 50%;
}

.info-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name{
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}

.settings{
    display: flex;
}

.settings i{
    font-size: 15px;
    margin-right: 15px;
    color: rgb(150, 149, 149);
}
/* notification left */
.notification{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 60px;
    background: rgb(155, 217, 255);
}

.bell i{
    font-size: 25px;
    color: white;
}

.not-text{
    margin-left: 10px;
}

.not-text a{
    font-size: 12px;
}

/* input bar */
.search-start{
    padding: 5px;
}

.search-start i{
    position: absolute;
}

.icon{
    padding: 5px 20px;
    color: rgb(206, 206, 206);
}

.search-start input{
    width: 100%;
    height: 25px;
    padding-left: 50px;
    border: none;
    border-radius: 8px;
    color: rgb(206, 206, 206);
}

/* contacts chat */
.contacts-chat{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgb(240, 239, 239);
}

.contacts-chat:hover{
    background: white;
}

.contacts-chat img{
    width: 50px;
    border-radius: 50%;
}

.name-contact{
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
}

/* sidebar right */
.side-right{
    float: right;
    width: 65%;
    height: 100%;
    margin: 0;
    background-image: url(./img/mine.jpg);
}

/* header right */
.right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 5px;
    background: lightgrey;
    border-left: 1px solid rgb(150, 149, 149);
}

.right img{
    width: 40px;
    border-radius: 50%;
}

.chat{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 0 50px;
    
}

.msg-date{
    font-size: 8px;
    font-weight: 700;
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: end;
}

.msg.sent,
.msg.received{
    width: 250px;
    padding: 15px 5px 5px 10px;
    border-radius: 8px;
    margin-bottom: 10px;

}

.msg.sent{
    align-self: flex-end;
    background: #dcf8c6;
}

.msg.received{
    align-self: flex-start;
    background: white;
}

/* footer right */
.message-bar{
    background: #efedec;
    width: 65%;
    position: absolute;
    bottom: 0px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 5px 20px;
}

.footer-container input{
    width: 650px;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 12px;
    color: rgb(206, 206, 206);
}

.footer-container i{
    font-size: 20px;
    color: rgb(150, 149, 149);
}